<!DOCTYPE html>
<html
  lang="en"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml"
>
  <head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
      }
      .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
      }
      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: inherit !important;
      }

      #MessageViewBody a {
        color: inherit;
        text-decoration: none;
      }

      p {
        line-height: inherit;
      }

      .desktop_hide,
      .desktop_hide table {
        mso-hide: all;
        display: none;
        max-height: 0px;
        overflow: hidden;
      }

      .image_block img + div {
        display: none;
      }

      @media (max-width: 620px) {
        .desktop_hide table.icons-inner,
        .social_block.desktop_hide .social-table {
          display: inline-block !important;
        }

        .icons-inner {
          text-align: center;
        }

        .icons-inner td {
          margin: 0 auto;
        }

        .row-content {
          width: 100% !important;
        }

        .mobile_hide {
          display: none;
        }

        .stack .column {
          width: 100%;
          display: block;
        }
      }
    </style>
  </head>
  <body
    style="
      margin: 0;
      background-color: #091548;
      padding: 0;
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
    "
  >
    <div style="padding: 50px 0">
      <div
        style="
          font-size: 30px;
          color: #ffffff;
          margin-bottom: 10px;
          text-align: center;
        "
      >
        <%= title %>
      </div>
      <div
        style="
          font-size: 20px;
          color: #ffffff;
          margin-bottom: 10px;
          text-align: center;
        "
      >
        <%= sub %>
      </div>
      <div style="display: flex;">
        <a
          href="<%= link %>"
          style="
            margin: auto;
            text-decoration: none;
            display: inline-block;
            color: #091548;
            background-color: #ffffff;
            border-radius: 24px;
            width: auto;
            border-top: 0px solid transparent;
            font-weight: undefined;
            border-right: 0px solid transparent;
            border-bottom: 0px solid transparent;
            border-left: 0px solid transparent;
            padding-top: 5px;
            padding-bottom: 5px;
            font-family: 'Varela Round', 'Trebuchet MS', Helvetica, sans-serif;
            font-size: 15px;
            text-align: center;
            mso-border-alt: none;
            word-break: keep-all;
          "
          target="_blank"
          ><span
            style="
              padding-left: 25px;
              padding-right: 25px;
              font-size: 15px;
              display: inline-block;
              letter-spacing: normal;
            "
            ><span style="word-break: break-word"
              ><span data-mce-style="" style="line-height: 30px"
                ><strong><%= btn %></strong></span
              ></span
            ></span
          ></a
        >
      </div>
    </div>
  </body>
</html>
